ul
	each c in chars.sort((a, b) => a.names.name.at(-1).localeCompare(b.names.name.at(-1)))
		li(id=c.names.name.join("-").toLowerCase()): dl
			.names
				dt.name(data-sex=c.sex)= c.names.name.join(" ")
				- pron = c.names.pron.map(p => p.join("")).join("|")
				dd.pron= `<${pron}>`
			.species
				dt Biology
				each s in c.species
					dd= s
			.extra
				dt Details
				each e in c.extra.sort()
					dd= e