h1#title= title
p#desc= description
table
	tr
		th Name
		th Pronunciation
		th Species
		th Biology
	each c in chars.sort((a, b) => a.names.name.at(-1).localeCompare(b.names.name.at(-1)))
		tr(id=c.names.name.join("-").toLowerCase().replace(/[^a-z0-9-_]/g, "_"))
			td.name(data-sex=c.sex)= c.names.name.join(" ")
			td.pron= `<${c.names.pron.map(p => p.join("")).join("|")}>`
			td.species
				if c.species.length > 1
					ol
						each s in c.species
							li= s
				else
					| #{s}
			td.extra: ul
				each e in c.extra.sort()
					li= e