h1#title= title
p#desc= description
table
	each c in chars.sort((a, b) => a.names.name.at(-1).localeCompare(b.names.name.at(-1)))
		tr(id=c.names.name.join("-").toLowerCase().replace(/[^a-z0-9-_]/g, "_"))
			tt.name(data-sex=c.sex)= c.names.name.join(" ")
			td.pron= `<${c.names.pron.map(p => p.join("")).join("|")}>`
			.species
				td Biology
				each s in c.species
					td= s
			.extra
				tt Details
				each e in c.extra.sort()
					td= e